<div class="header">
    <div class="grid fondo-portafolio">
        <div class="col-offset-3 col-6 flex justify-content-center align-items-center text-50 menu-header">
            <p-menubar class="menu-header  "/>
        </div>
        <p-card id="sobreNosotros" class="col-offset-3 col-6 py-8 ">

        </p-card>

        <p-card id="Experiencia" class="col-offset-3 col-6 py-8">
        </p-card>

        <div id="Proyectos" class="col-offset-3 col-6 py-8">

          </div>
      
          <div id="contactame" class="col-12 footer">

          </div>
    </div>
</div>